:root {
  --Pale-Blue: hsl(243, 100%, 93%);
}

@media (min-width: 62.5em) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    height: 100vh;
    background: var(--Very-Dark-Blue) url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .space {
    width: 53rem;
    height: 15rem;
    padding-top: 2rem;
  }

  .text {
    display: block;
    width: 80%;
    text-align: start;
  }

  .capacity {
    position: relative;
    left: 0;
    top: 0;
    border-bottom-right-radius: 0;
    position: relative;
    transform: translate(75%, -275%);
    padding: 1rem;
  }

  .capacity:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    border-right: 10px solid var(--Pale-Blue);
    border-top: 10px solid var(--Pale-Blue);
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translateY(265%);
  }
}
